@use "var";
@use "animations";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var.$bg-color;
    font-family: var.$standard-font;
    letter-spacing: 1;
    color: var.$light-color;
}


header {
    display: flex;
    flex-direction: column;
}

h1 {
    color: var.$pop-color;
    font-weight: 400;
    letter-spacing: 4;
    line-height: 1.3em;
    font-size: 48px;
}

h2 {
    color: var.$light-color;
    font-size: 30px;
    font-weight: 400;
}

h3 {
    color: var.$light-color;
    text-transform: uppercase;
}

.logo {
    margin: 20px 5px 5px 30px;
}

nav {
    min-height: 8em;
}

.ulNav {
    right: 0;
    list-style-type: none;
    margin-top: -80px;
    position: fixed;
    z-index: 10;

    li {
        margin: 20px 0;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %button;
        transition: ease 1s;
    }

    a:hover {
        padding: 1.2em 1.8em;
        font-weight: 700;
    }

    .active {
        padding: 1.2em 1.8em;
        font-weight: 700;
    }
}


#bookBtn {
    color: black;
    background-color: var.$pop-color;
}

#headerVideo {
    max-width: 1700px;
    width: 70%;
    margin-top: -130px;
    position: relative;
    left: -1900px;
    opacity: 0;
    animation: slideInLeft 2s both running;
}

#introText {
    max-width: 1400px;
    width: 80%;
    margin: -80px auto 0;
    position: relative;
}

#introText h1 {
    max-width: 15em;
    margin-left: 260px; 
    font-style: italic;
    font-size: 3.5em;
    animation: fadeInSkew 1.5s 2s both running;
}

#welcomeText {
    max-width: 1400px;
    width: 80%;
    margin: 200px auto 10%;
    color: #fff;

    #quote {
        display: flex;
        max-width: 1100px;

        span {
            font-size: 300;
            line-height: 0.7;
        }
    }
}

#welcomeText h2 {
    margin-bottom: 50px;
}

#menuText {
    margin: 150px auto 0;
    max-width: 1400px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content:space-between;

    p {
        max-width: 370px;
    }

    h1 {
        @extend %chapterHeader;
    }
}

.button {
    @extend %button;
    background-color: transparent;
    border-left: none;
    border-right: none;
    margin-top: 50px;
    font-family: var.$standard-font;
    letter-spacing: 2.5;
    cursor: pointer;
    transition: 1s ease;
}

.button:hover {
    background-color: var.$pop-color;
    color: var.$black-color;
}

#igContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
    width: 80%;

    h1 {
        @extend %chapterHeader;
        font-style: italic;
        margin-top: 200px;
        float: right;
        align-self: flex-end;
    }

    div {
        max-width: 1400px;
        width: 100%;
        height: 300px;
        background-color: black;
    }

    .button {
        align-self: flex-end;
    }
}

#hoursContainer {
    margin: 200px auto 0;
    max-width: 1400px;
    width: 80%;

    h1 {
        @extend %chapterHeader;
    }

    #openingHrs {
        display: flex;
        justify-content: space-between;

        .openingBox {
            border: 1px solid var.$pop-color;
            padding: 20px 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

#book {
    margin: 100px 0;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    #bookText {
        letter-spacing: 40px;
        stroke: var.$pop-color;
        font-size: 300px;
        font-weight: 400;
        stroke-width: 3;
        cursor: pointer;

        animation: textAnimate 8s infinite alternate;
    }

    #bookText:hover {
        animation-play-state: paused;
        stroke: var.$bg-color-2;
    }
}

footer {
    background-color: var.$black-color;
    min-height: 600px;
    padding-top: 100px;

    .logoLinks {
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        width: 80%;
        margin: 0 auto;
    }


    ul {
        list-style-type: none;
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: var.$light-color;
        font-weight: 600;
    }
}



/*MENYSIDOR*/

.menuHeader {
max-width: 1400px;
width: 93%;
margin: 0 auto;
}

#menuHeading {
    padding-bottom: 25px;
    border-bottom: 2px solid var.$pop-color;
    margin: -110px 5px 3.5%;
    max-width: 900px;
    width: 100%;
}

.menuNav {
    @extend .ulNav;
    position: relative;
    display: flex;
    margin-top: -68px;
    margin-left: 5px;


    a {
        border: none;
        padding: 0.5em 1.8em;
    }

    
    a:hover {
        background-color: var.$pop-color;
        color: var.$black-color;
        padding: 0.5em 1.8em;
        font-weight: 400;
    }

    .active {
        background-color: var.$pop-color;
        color: var.$black-color;
        padding: 0.5em 1.8em;
        font-weight: 400;
    }
}

/*MIDDAGSMENY*/
.subMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 10px;

    h2 {
        color: var.$light-color;
    }
}

.menuContainer {
    border: 1px solid var.$pop-color;
    max-width: 60em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;

    div {
        margin: 15px 0;
        text-align: center;
    }

    .courseName {
        font-weight: 600;
    }
}


/*LUNCHMENY*/
#lunchInfo {
    p {
        text-align: center;
    }
}



/*Animeringar*/

/* Kod från: https://www.sliderrevolution.com/resources/css-animations-on-scroll/*/

.animate {
    /* initially hide animatable objects */
    visibility: hidden;
  
    /* initially pause animatable objects their animations */
    animation-play-state: paused;
  }
  
  /* show objects being animated */
  .animated {
    visibility: visible;
  }
  
  .animated.fadeIn {
    animation: fadeIn .8s both running;
  }

  .animated.fadeInUp {
    animation: fadeInUp .8s both running;
  }

  .animated.bounceIn {
    animation: bounceIn .5s both running;
  }
  .animated.bounceInRight {
    animation: bounceInRight .5s both running;
  }
  .animated.bounceInLeft {
    animation: bounceInLeft .5s both running;
  }