@use "var";
@use "animations";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var.$bg-color;
    font-family: var.$standard-font;
    letter-spacing: 1;
    color: var.$light-color;
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    color: var.$pop-color;
    font-family: var.$pop-font;
    font-weight: 400;
    letter-spacing: 4;
    line-height: 1.3em;
    font-size: 48px;
}

h2 {
    color: var.$light-color;
    font-size: 30px;
    font-weight: 400;
}

h3 {
    color: var.$light-color;
    text-transform: uppercase;
}

p {
    line-height: 1.8;
}

.logo {
    margin: 20px 5px 5px 30px;
    top: 20;
    position: relative;
    left: -700px;
    opacity: 0;
    animation: slideInLeft 1s both running;
}

nav {
    min-height: 10em;
    position: relative;
    right: -900px;
    opacity: 0;
    animation: slideInRight 1s 1.2s both running;
}

.ulNav {
    right: 0;
    list-style-type: none;
    margin-top: -80px;
    position: fixed;
    z-index: 10;


    li {
        margin: 20px 0;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %button;
        transition: ease 1s;
    }

    a:hover {
        padding: 1.2em 1.8em;
        font-weight: 700;
    }

    .active {
        padding: 1.2em 1.8em;
        font-weight: 700;
    }
}

#bookBtn {
    color: black;
    background-color: var.$pop-color;
}

#headerVideo {
    max-width: 1700px;
    width: 70%;
    margin-top: -130px;
    position: relative;
    left: -1900px;
    opacity: 0;
    animation: slideInLeft 2s .3s both running;
}

#introText {
    font-family: var.$pop-font;
    font-size: 28px;
    max-width: 1400px;
    width: 80%;
    margin: -120px auto 0;
    position: relative;
}

#introText h1 {
    max-width: 10em;
    margin-left: 160px;
    font-style: italic;
    font-size: 3.5em;
    animation: fadeInSkew 1.5s 1.5s both running;
}

#welcomeText {
    max-width: 1400px;
    width: 80%;
    margin: 200px auto 10%;
    color: #fff;

    #quote {
        display: flex;
        max-width: 1100px;

        span {
            font-size: 300;
            line-height: 0.4;
        }
    }
}

#welcomeText h2 {
    margin-bottom: 50px;
}

#menuText {
    margin: 150px auto 0;
    max-width: 1400px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        max-width: 370px;
    }

    h1 {
        @extend %chapterHeader;
    }

    h2 {
        font-family: var.$pop-font;
        color: var.$pop-color;
        margin-bottom: 50px;
        font-size: 2.5em;
    }
}

.button {
    @extend %button;
    background-color: transparent;
    border-left: none;
    border-right: none;
    margin-top: 50px;
    font-family: var.$standard-font;
    letter-spacing: 2.5;
    cursor: pointer;
    transition: 1s ease;
}

.button:hover {
    background-color: var.$pop-color;
    color: var.$black-color;
}

#igContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
    width: 80%;

    h1 {
        @extend %chapterHeader;
        font-style: italic;
        margin-top: 200px;
        float: right;
        align-self: flex-end;
    }

    div {
        max-width: 1400px;
        width: 100%;
        height: 300px;
        background-color: black;
    }

    .button {
        align-self: flex-end;
    }
}

#hoursContainer {
    margin: 200px auto 0;
    max-width: 1400px;
    width: 80%;

    h1 {
        @extend %chapterHeader;
    }

    #openingHrs {
        display: flex;
        justify-content: space-between;

        .openingBox {
            border: 1px solid var.$pop-color;
            padding: 20px 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

#book {
    margin: 100px 0;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    #bookText {
        letter-spacing: 40px;
        stroke: var.$pop-color;
        font-size: 300px;
        font-weight: 400;
        stroke-width: 3;
        cursor: pointer;

        animation: textAnimate 8s infinite alternate;
    }

    #bookText:hover {
        animation-play-state: paused;
        stroke: var.$bg-color-2;
    }
}

footer {
    background-color: var.$black-color;
    min-height: 600px;
    padding-top: 100px;

    .logoLinks {
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        width: 80%;
        margin: 0 auto;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-transform: uppercase;
        text-decoration: none;
        color: var.$light-color;
        font-weight: 600;
    }
}

/*MENYSIDOR*/

.menuHeader {
    max-width: 1400px;
    width: 93%;
    margin: 0 auto;
    position: relative;
    left: -1500px;
    opacity: 0;
    animation: slideInLeft 1.5s 0.2s both running;
}

#noAnimation {
    left: 0px;
    opacity: 1;
    animation: none;
}

#menuHeading {
    font-family: var.$standard-font;
    padding-bottom: 25px;
    border-bottom: 2px solid var.$pop-color;
    margin: -110px 5px 3.5%;
    max-width: 900px;
    width: 100%;
}

.menuNav {
    @extend .ulNav;
    position: relative;
    display: flex;
    margin-top: -68px;
    margin-left: 5px;

    a {
        border: none;
        padding: 0.5em 1.8em;
    }

    a:hover {
        background-color: var.$pop-color;
        color: var.$black-color;
        padding: 0.5em 1.8em;
        font-weight: 400;
    }

    .active {
        background-color: var.$pop-color;
        color: var.$black-color;
        padding: 0.5em 1.8em;
        font-weight: 400;
    }
}

/*MIDDAGSMENY*/
.subMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 10px;

    h1 {
        animation: fadeInUp 0.8s .6s both running;
    }

    h2,
    h3 {
        font-family: var.$pop-font;
        text-transform: none;
    }

    h2 {
        color: var.$light-color;
    }
}

.menuContainer {
    border: 1px solid var.$pop-color;
    max-width: 60em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    padding: 20px;

    div {
        margin: 15px 0;
        text-align: center;
    }

    .courseName {
        font-weight: 600;
    }

    h2,
    h3 {
        font-family: var.$standard-font;
        text-transform: uppercase;
    }
}

#smallCourse {
    animation: fadeInUp 0.8s 0.8s both running;
}

#preCourse {
    animation: fadeInUp 0.8s 1s both running;
}

/*LUNCHMENY*/
#lunchInfo {
    p {
        text-align: center;
    }
}

#currentWeek {
    animation: fadeInUp 0.8s .8s both running;
}

#lunchInfo {
    animation: fadeInUp 0.8s 1s both running;
}

#lunches {
    animation: fadeInUp 0.8s 1.2s both running;
}

/*TAKEAWAYMENY*/
#takeawayDishes,
#takeawaySnacks {
    h2 {
        font-family: var.$standard-font;
    }
}

#takeaways {
    animation: fadeInUp 0.8s 1.2s both running;
}

/*OM OSS*/
#aboutIntro {
    @extend #introText;
    margin-top: 100px;
    margin-bottom: 300px;

    h1 {
        max-width: 20em;
        margin-left: 0px;
        font-size: 2.6em;
        animation: fadeInSkew 1.5s 1.5s both running;
    }
}

/*Animeringar*/

/* Kod från: https://www.sliderrevolution.com/resources/css-animations-on-scroll/*/



.animate {
    /* initially hide animatable objects */
    visibility: hidden;

    /* initially pause animatable objects their animations */
    animation-play-state: paused;
}

/* show objects being animated */
.animated {
    visibility: visible;
}

.animated.fadeIn {
    animation: fadeIn 0.8s both running;
}

.animated.fadeInUp {
    animation: fadeInUp 0.8s both running;
}

.animated.increaseWidth{
    animation: increaseWidth 0.8s  both running;
}
.animated.bounceInRight {
    animation: bounceInRight 0.5s both running;
}
.animated.bounceInLeft {
    animation: bounceInLeft 0.5s both running;
}


/*ADMIN-GRÄNSSNITT!!!*/

/*LOGGA IN - FORMULÄR*/
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 70vh;
    width: 90vw;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;

    label {
        margin-top: 15px;
    }
    
    input {
        width: 300px;
        margin-bottom: 5px;
    }
    
    input[type=submit] {
        margin-top: 15px;
        max-width: 150px;
        width: 100%;
    }
    
    span {
        max-width: 370px;
        width: 100%;
        color: red;
        font-size: 0.7em;
        line-height: 1;
        font-weight: 600;
    }
}

/*ADMIN - startsida*/
#adminHeader {
    display: flex;
    justify-content:space-between;
};

#logoutContainer {
    display: flex;
    flex-direction: column;
    justify-content: last-baseline;
    width: 220px;

span {
    margin-top: 25px;
}

    button {
        max-width: 140px;
        margin-top: 20px;
    }
}

.adminNav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-top: 60px;

    li {
        padding: 5px;
        margin: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.adminPanel {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRow {
    display: flex; 
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    width: 100%;

    div {
        max-width: 450px;
        width: 100%;
        padding: 5em 1;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#box1{
    background-color: rgb(125, 109, 87);
}

#box1:hover {
    background-color: rgb(104, 91, 73);
    cursor: pointer;
}

#box2 {
    background-color: var.$bg-color-2;
}


#box2:hover {
    background-color: #874834;
    cursor: pointer;
}

#box3 {
    background-color: var.$pop-color;
}

#box3:hover {
    background-color: #9b674a;
    cursor: pointer;
}

#box4 {
    background-color: rgb(60, 60, 60);
}

#box4:hover {
    background-color: rgb(41, 41, 41);
    cursor: pointer;
}


/*MODAL!!*/

#myBtn {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: -100px auto 0;
    padding: 20px;
    border: 1px solid #888;
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    color: var.$black-color;

    .button {
        padding: 0.5em;
        background-color: var.$bg-color-2;
        color: #fff;
        font-weight: 600;
        font-size: 1em;
        border: none;
        transition: ease 0.5s;
        position: relative;
        bottom: 0;
        max-width: 150px;
        width: 100%;
        margin: 10px 5px;
      }
      
      .button:hover {
        cursor: pointer;
        background-color: #8a4632;
      }

      .headingClose {
        display: flex;
        justify-content: space-between;
      }

      h3 {
        color: var.$black-color;
        margin: 10px 10px 0;
      }
  }
  
  .fromto {
    display: flex;
    justify-content: space-between;
  }
  
  input[type=checkbox] {
    height: 1em;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin: 1em 1em;
  }
  
  input,
  select {
    margin-bottom: .5em;
    height: 2em;
    padding: 0.3em;
    max-width: 18.5em;
    width: 100%;
  }

  input[type=checkbox] {
    max-width: 50px;
  }

  option,
  select,
  input,
  textarea {
    font-family: var.$standard-font;
    font-size: 16px;
  }
  
  .flexSpan {
    display: flex;
    flex-direction: row;
    color: var.$black-color;
    max-width: 27.5em;
    font-size: 14px;
    font-weight: 500;
    
    input {
        margin-top: 13.5px;
    }
  }

  #description {
    height: 10em;
  }
  
  .errorMsg {
    font-size: 0.7em;
    color: red;
    font-weight: 600;
    line-height: 0;
    margin: -5px 0 15px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /*Editera middagsmeny*/
