/*Färgschema*/
$bg-color: #252323;
$bg-color-2: #AB573D;
$pop-color: #C8835C;
$green-color: #D5E14D;
$light-color: #F3EBEB;
$black-color: #1b1919;

/*font*/
$standard-font: "Bodoni Moda", "Cormorant Garamond", serif;
$pop-font: "Tangerine", Cursive;

/*Placeholders*/
%button {
padding: 0.5em 1.8em;
border-top: 1px solid $pop-color;
border-bottom: 1px solid $pop-color;
text-transform: uppercase;
text-decoration: none;
color: #fff;
}

%chapterHeader {
    text-transform: uppercase;
    margin-bottom: 60px;
}